<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia</title>    
     <link rel="stylesheet" type="text/css" href="/css/site.css">
     <link rel="stylesheet" type="text/css" href="/css/style.css">
     <link rel="stylesheet" type="text/css" href="/css/carrossel.css">
    <script type="text/javascript" src="~/js/carrossel.js"></script>
</head>

<body class="cabeca">
    <div class="historia">
        <p>NOSSA HISTÓRIA</p>
    </div>

    <div class="texto">
        <p>Existem determinados elementos formais que caracterizam um texto poético - como por exemplo, o ritmo, os
            versos e as estrofes - e que definem a métrica de uma poesia.

            A métrica de um poema consiste na utilização de recursos literários específicos que distinguem o estilo de
            um poeta.

            Os versos livres não seguem nenhuma métrica. O autor tem liberdade para definir o seu próprio ritmo e criar
            as suas próprias normas. Esse tipo de poesia é também designada por poesia moderna, na qual se destacam
            elementos do modernismo.

            A poesia em prosa também dá autonomia ao autor para compor um texto poético não constituído por versos
            (desde que haja harmonia, ritmo e a componente emotiva inspirada pela poesia).

            Ao longo dos séculos, a poesia tem sido usada como forma de expressar os mais variados sentimentos, como o
            amor, amizade, tristeza, saudade, etc. Alguns dos poetas mais famosos da língua portuguesa são: Fernando
            Pessoa, Carlos Drummond de Andrade, Luís de Camões, Vinicius de Moraes, etc.</p>
    </div>

    <div class="imgtexto">
        <img src="/imagens/foto58.jpeg" width="200" height="200" />
    </div>


    <div class="slideshow-container">
        
        <div class="mySlides fade">
            <div class="numbertext">1/3</div>
            <img src="/imagens/foto16.jpeg" style="width: 100%">
            <div class="text">Imagem 1</div>
        </div>        
        <div class="mySlides fade">
            <div class="numbertext">2/3</div>
            <img src="/imagens/foto44.jpeg" style="width: 100%">
            <div class="text">Imagem 2</div>
        </div>        
        <div class="mySlides fade">
            <div class="numbertext">3/3</div>
            <img src="/imagens/foto45.jpeg" style="width: 100%">
            <div class="text">Imagem 3</div>
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <div style="text-align: center;">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>

    </div>



</body>

</html>