@{
    ViewData["Title"] = "Home Page";
}
<header>
      
</header>
<body>
<div class="text-center">
   <font color= "YELLOW"><h1 class="display-4"> VETERINARIA MAYER</h1> </font>   
    <p></p>
</div>
</body>
<footer>

</footer>
<style>
    header{
        background-color: green;
        
    }
        
    body{
        background-image: url("./imagens/CACHORRO E GATO.jpg");
        background-size: cover; 
        
        
         
    }
    footer {
        
        background-color: green;
        
    }   

</style>



